.title-text {
    width: 143px;
    height: 33px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */

    /* black */

    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}
