[[source]]
url="https://pypi.org/simple"
verify_ssl=true
name="pypi"

[packages]
django="==4.1.3"
django-environ="==0.9.0"
dj-database-url="==1.0.0"
psycopg2="==2.9.3"
pytest-django="==4.5.2"
pytest-cov="==3.0.0"
drf-yasg="*"
django-debug-toolbar = "*"
djangorestframework = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}
bs4 = "*"
lxml = "*"
django-redis = "==5.2.0"
redis = "*"

[dev-packages]

[requires]
python_version="3.11"
