@import './variables';

.details-containerr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin: 12px;

  border: 1px solid rgba(0, 150, 106, 0.5);
  border-radius: 8px;

  .image-detailss {
    width: 100%;
    height: 175px;
    border: 1px solid black;
    border-radius: 8px;

    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  }

  .details-titlee {
    font-size: 20px;
    padding: 1.5rem 0  1rem 0;
    font-weight: 600;
  }
}

.btn-wrapper {
  position: absolute;
  bottom: 0;
  padding-inline: 32px;
  width: 100%;
  box-sizing: border-box;
  right: 1px;
}

.buttonek {
  height: 52px;
  margin: 12px 0 30px 0;
  width: 100%;
  background-color: $color-main;
  border-radius: 8.82px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 400ms;


  &:hover {
    background-color: #00af7a;
    transform: translateY(-5px);
  }
}

.button-icon {
  margin-right: 10px;

  transition: all 400ms;
  &:hover {
    transform: translateY(-4px);
  }
}

.button-text {
  color: white;
  font-size: 16px;
  font-weight: 500;

  transition: all 400ms;
  &:hover {
    transform: translateY(-4px);
  }
}

.details-people {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2%;

}

.people-list {

}

.circle {
  height: 28px;
  width: 28px;
  //border: 0;
  border-radius: 50%;
  margin-left: -5%;

  &:nth-child(1) {
    background-image: url("../assets/images/peoples/people-1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 0;
  }

  &:nth-child(2) {
    background-image: url("../assets/images/peoples/people-2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 0;
  }

  &:nth-child(3) {
    background-image: url("../assets/images/peoples/people-3.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 0;
  }

  &:nth-child(4) {
    background-image: url("../assets/images/peoples/people-4.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 0;
  }
}

.people-text {
  font-weight: 400;
  font-size: 15px;
  color: $gray-cement;
}

.people-text-outer {
  margin-top: 16px;
  //padding-inline: 8px;
  font-weight: 500;
  font-size: 18px;
  color: $gray-cement;
}

.user-wrapperr {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 55px;
  align-items: flex-start;
}

.circle-avatarr {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #FFE9A8;

  background-image: url("../assets/images/peoples/people-avatar.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 0;
  outline: 3px solid #FFE9A8;
}

.wrapper-wrapper {
  display: flex;
  flex-direction: column;
}

.name-wrapperr {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.name-icon {

}

.name-text {
  font-size: 22px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.user-textt {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $gray-cement;
  font-size: 12px;
  display: flex;
  //align-items: center;
  //width: 100%;
  //margin-top: 5px;
}

.user-textt {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $gray-cement;
  font-size: 14px;
  display: flex;

}


.circle-verified {
  height: 20px;
  width: 20px;
  border: 0;
  background-color: transparent;
}

.pojemnoscc {
  display: flex;
  flex-direction: column;

}

.info_wrapperr {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}