.details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 28px;

    .image-details {
        width: 100%;
        height: 175px;
        border: 1px solid black;
        border-radius: 8px;
    }

    .details-title {
        padding: 1rem;
        font-weight: 500;
    }

    .btn-wrapper {
        position: absolute;
        bottom: 0;
        width: 100%;

        .message-button {
            height: 52px;
            margin: 12px;
            width: 100%;
            box-sizing: border-box;
            background: #00966a;
            border-radius: 8.82px;
            border: 0;
        }
    }
}
