@import "variables";

.navbar {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;


  &__header {
    font-size: 28px;
    font-weight: 700;
  }

  &__button {

  }
}

.header__paragraph {
  color: $color-main;
}

.button {

  border: 0;
  background-color: white;

  &__icon {
    width: 24px;
    height: 26px;
  }
}
