// ----------------------------
// VARIABLES


// ----------------------------
// VARIABLES: COLORS

// Colors: main colors
$color-main: #00966a;
$color-secondary: white;

// Colors: black, white, gray spectrum
$black: #000;
$gray-cement: #7f8286;
$gray-cement-light: #cbced2;
$gray-cement-x-light: #F4F4F4;

$white: #FFF;
