.header {
    display: flex;
    flex-direction: row;
    padding: 5rem 1rem 1rem 1rem;
    justify-content: space-between;
    align-items: flex-end;

    .add-button {
        height: 27px;
        width: 63px;
        background: #00966a;
        border-radius: 13.2343px;
        border: 0;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
    }
    .header-subtext {
    }
}

.product-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: #ffffff;
    border: 1px solid rgba(0, 150, 106, 0.15);
    border-radius: 12px;
    margin-inline: 16px;
    margin-top: 20px;
    padding: 20px;

    .product-image {
        width: 96px;
        height: 62px;
        border: 1px solid black;
        border-radius: 8px;
        /* Inside auto layout */
    }
    .product-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem;
        .product-name {
            justify-content: flex-start;
            font-size: 16px;

            /* identical to box height, or 144% */

            color: #000000;

            /* Inside auto layout */
        }
        .product-subtext {
            align-items: flex-start;

            display: flexbox;
            font-size: 12px;
            margin-top: 4px;
            /* identical to box heig
            ht */

            /* grey text */

            color: #9a9ea6;
        }
    }
}
